:root {
    --color-brand--1: #ffb545;
    --color-brand--2: #00c46a;

    --color-dark--1: #2d3439;
    --color-dark--2: #42484d;
    --color-light--1: #aaa;
    --color-light--2: #ececec;
    --color-light--3: rgb(214, 222, 224);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: "Manrope", sans-serif;
    color: var(--color-light--2);
    font-weight: 400;
    line-height: 1.6;
    overscroll-behavior-y: none;
    background-color: #fff;
    padding: 2.5rem;
}

/* GENERAL */
a:link,
a:visited {
    color: var(--color-brand--1);
}
/* MAIN */
main {
    width: 100%;
    display: flex;
}
/* SIDEBAR */
.sidebar {
    width: 35%;
    height: 100vh;
    background-color: var(--color-dark--1);
    padding: 3rem 5rem 3rem 5rem;
    display: flex;
    flex-direction: column;
}

.logo {
    height: 5.2rem;
    align-self: center;
    margin-bottom: 4rem;
}

.workouts {
    list-style: none;
    height: 77vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.workouts::-webkit-scrollbar {
    width: 0;
}
.workout {
    position: relative;
    background-color: var(--color-dark--2);
    border-radius: 5px;
    padding: 1.5rem 1rem;
    margin-bottom: 1.75rem;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.75rem 1rem;
    overflow-x: auto;
}
.workout--running {
    border-left: 5px solid var(--color-brand--2);
}
.workout--cycling {
    border-left: 5px solid var(--color-brand--1);
}

.workout__title {
    font-size: 1.7rem;
    font-weight: 600;
    grid-column: 1 / -1;
}

.workout__details {
    display: flex;
    align-items: baseline;
}

.workout__icon {
    font-size: 1.8rem;
    margin-right: 0.2rem;
    height: 0.28rem;
}

.workout__value {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.workout__unit {
    font-size: 1.1rem;
    color: var(--color-light--1);
    text-transform: uppercase;
    font-weight: 800;
}
.remove-workout {
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 7px;
    right: 10px;
}
.form {
    background-color: var(--color-dark--2);
    border-radius: 5px;
    padding: 1.5rem 2.75rem;
    margin-bottom: 1.75rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem 2.5rem;

    /* Match height and activity boxes */
    height: 9.25rem;
    transition: all 0.5s, transform 1ms;
}

.form.hidden {
    transform: translateY(-30rem);
    height: 0;
    padding: 0 2.25rem;
    margin-bottom: 0;
    opacity: 0;
}

.form__row {
    display: flex;
    align-items: center;
}

.form__row--hidden {
    display: none;
}

.form__label {
    flex: 0 0 50%;
    font-size: 1.5rem;
    font-weight: 600;
}

.form__input {
    width: 100%;
    padding: 0.3rem 1.1rem;
    font-family: inherit;
    font-size: 1.4rem;
    border: none;
    border-radius: 3px;
    background-color: var(--color-light--3);
    transition: all 0.2s;
}

.form__input:focus {
    outline: none;
    background-color: #fff;
}

.form__btn {
    display: none;
}

.copyright {
    margin-top: auto;
    font-size: 1.3rem;
    text-align: center;
    color: var(--color-light--1);
}

.twitter-link:link,
.twitter-link:visited {
    color: var(--color-light--1);
    transition: all 0.2s;
}

.twitter-link:hover,
.twitter-link:active {
    color: var(--color-light--2);
}

/* MAP */
#map {
    width: 65%;
    height: 100vh;
    background-color: var(--color-light--1);
}
/* responsive */
@media (max-width: 1200px) {
    .sidebar {
        width: 50%;
    }
    #map {
        width: 50%;
    }
}
@media (max-width: 991px) {
    main {
        flex-direction: column;
    }
    .sidebar {
        width: 100%;
        padding: 3rem 1rem 3rem 1rem;
    }
    #map {
        width: 100%;
    }
}
@media (max-width: 767px) {
    body {
        padding: 1.5rem;
    }
    .sidebar {
        padding: 3rem 1rem 3rem 1rem;
    }
    .form {
        gap: 0.5rem 1rem;
    }
}
/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
    background-color: var(--color-dark--1);
    color: var(--color-light--2);
    border-radius: 5px;
    padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
    font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
    background-color: var(--color-dark--1);
}

.running-popup .leaflet-popup-content-wrapper {
    border-left: 5px solid var(--color-brand--2);
}
.cycling-popup .leaflet-popup-content-wrapper {
    border-left: 5px solid var(--color-brand--1);
}
.delete {
    width: fit-content;
    margin-left: auto;
    margin-bottom: 1.5rem;
}
.delete .remove-all {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.message-overlay {
    position: absolute;
    inset: 0;
    background-color: #ffffff99;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: bottom center;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.message-container {
    width: 50%;
    padding: 2rem 2rem 3rem;
    background-color: var(--color-dark--1);
    border-left: 8px solid var(--color-brand--1);
    border-right: 8px solid var(--color-brand--2);
    border-radius: 0.75rem;
    -webkit-border-radius: 0.75rem;
    -moz-border-radius: 0.75rem;
    -ms-border-radius: 0.75rem;
    -o-border-radius: 0.75rem;
}
.message-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.message-logo img {
    width: 50px;
}
.btn-close.close-message {
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
}
.message--text {
    padding: 1rem;
    font-size: 2.25rem;
    text-align: center;
}
.btn-ok.close-message {
    cursor: pointer;
    display: block;
    width: fit-content;
    padding: 0.5rem 4rem;
    margin: 2rem auto 0 auto;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--color-brand--2);
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
}
.hidden {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}
